{% extends 'blog/base.html' %}

{% block content %}

      <h1>Hello!</h1>
      <h2>I'm Panan, Front End Developer focused on bildding beautiful interfaces & experiences</h2>

      <section>
      <h3>Background</h3>
      <p>I am currently a freelancer creating things for the web together with great people. I graduated from Naresuan University and after that, I worked for the government for about 3 years in an academic position, then moved to work in Bangkok as an office secretary and tried to learn code online And worked in the company as an engineer after that, the last company to do the position Front end developer.</p>
      </section>

      <section>
      <h3>Skill</h3>
      <div class="table-responsive-sm">
        <table class="table table-borderless">
        <thead>
        <tr>
            <th scope="col">Languages</th>
            <th scope="col">Frameworks</th>
            <th scope="col">Tools</th>
            <th scope="col">Design</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>JavaScript </td>
            <td>Vue.js</td>
            <td>Git & Github</td>
            <td>Photoshop</td>
        </tr>
        <tr>
            <td>HTML</td>
            <td>Figma</td>
            <td>FireFox DevTools</td>
            <td>Tinkercad</td>
        </tr>
        <tr>
            <td>CSS</td>
            <td>Wordpress</td>
            <td>Bash</td>
            <td>blender</td>
        </tr>
        <tr>
            <td>Python</td>
            <td>Django</td>
            <td>Google Chrome DevTools</td>
            <td>Gimp & Inkscape</td>
        </tr>
        </tbody>
      </table>
    </div>
      </section>

{% endblock %}