<!DOCTYPE html>
<html>
    <head>
        <title>Panan's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Panan's Blog</a></h1>
        </header>

        <article>
            <h2><a href="">My 1 post</a></h2>
            <p>ในการเรียนเขียนโปรแกรมสำหรับมือใหม่นั้น มันก็ไม่ใช่เรื่องง่าย สำหรับคนที่ไม่มีพิ้นฐานอะไรเลย หรือคนที่ไม่มีโลจิกในหัวเหมือนเรานั้น เป็นเรื่องที่ยากมาก เราต้องอาศัยความอดทน ฝึกฝน สม่ำเสมอในการเรียน การทบทวน และการลงมือทำโปรเจตต่างๆ ใช้เวลานานกว่าคนอื่น แต่ให้มั่นใจเถอะว่า เราต้องมีอนาคตที่สดใส</p>
            <time>published: 27.06.2023, 14:49</time>
        </article>

        <article>
            <h2><a href="">My 2 post</a></h2>
            <p>จากที่เราปรื้น คีย์บอร์ดไว้ ก็นานแล้วนะ แต่ก็ยังไม่ได้ลงมือทำต่อ เพราะว่าก็มีงานขั้นตลอด ไหนจะสั่งอุกรณ์เพิ่มต่างๆ รอก่อนนะคีย์บอร์ดของฉัน</p>
            <time>published: 27.06.2023, 14:52</time>
        </article>
        <article>
            <h2><a href="">My 3 post</a></h2>
            <p>พอเข้าฤดูฝน ก้อนเมฆเกาะกันเป็นกลุ่ม ท้องฟ้ามืดครึ้ม ฝนตั้งเค้าที่จะตก มันทำให้หลายคนรู้สึกหม่นหมอง ความรู้สึกบลูๆ เหมือนที่หลายคนชอบพูดกัน แต่ ท้องฟ้า ยามที่ฝนหยุดตกแล้ว มันเป็นอะไรที่สวยงาม สีฟ้าสดใส ยังไงก็ยังชอบท้องฟ้าเวลานั้นอยู่ ดังนั้นแล้ว อดทนนะ อดทนรอ เวลาที่ฝนหยุด แล้วเราจะเห้นท้องฟ้าที่มันสีสด และสวยที่สุด</p>
            <time>published: 27.06.2023, 14:55</time>
        </article>
    </body>
</html>